{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{judul}}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/styles.css" %}"> 
    <link rel="stylesheet" type="text/css" href="{% static app_css %}"> 
</head>
<body>
    <img style="width:100%" src="{% static "about/img/banner_about.png"%}" alt="">
    <nav>
            <ul>
                {% for link, name in nav%}
                    <li>
                        <a href="{{link}}" title="">{{name}}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        <h1>Welcome to Aboutnya BelajarAsik</h1>
        <br>
        <h4>Apakah Anda yakin ingin keluar? </h4>

        <form method="POST">
            {% csrf_token %}
            <input type="submit" name="logout">
        </form>
</body>
</html>